article {
  width: 100%;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-center {
  display: grid;
  justify-content: center;
  align-content: center;
}
.main {
  padding: 2rem 1vw;
  max-width: 1260px;
  width: 100vw;
  margin: 0 auto;
  color: var(--color-paragraph);
  white-space: pre-wrap;
}
.grid-2-col {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  align-items: center;
}
.preview {
  width: 500px;
  margin: 2rem auto;
}
.fixed-right {
  display: flex;
  justify-content: right;
  margin-right: 2vw;
}
